name: Run java tests
on:
  push:
    branches: ["main"]
  pull_request: {}
  workflow_call: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup gradle
        uses: gradle/gradle-build-action@v2
      - name: Run build
        run: ./gradlew build
